name: Android CI

on: pull_request

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  check-codestyle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK
        uses: actions/setup-java@v3.5.1
        with:
          distribution: "zulu"
          java-version: "11"
          cache: "gradle"

      - name: Check codestyle
        uses: gradle/gradle-build-action@v2.3.2
        with:
          arguments: spotlessCheck
          gradle-home-cache-cleanup: true
          
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0

      - name: Make gradlew executable
        run: chmod +x ./gradlew
        
      - name: Set up JDK
        uses: actions/setup-java@v3.5.1
        with:
          distribution: "zulu"
          java-version: "11"
          cache: "gradle"

      - name: Run unit tests
        uses: gradle/gradle-build-action@v2.3.2
        with:
          arguments: test
          gradle-home-cache-cleanup: true
        env:
          base_url: ${{ secrets.BASE_URL }}

      - name: (Fail-only) Upload test report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: Test report
          path: app/build/reports/

  build-apks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK
        uses: actions/setup-java@v3.5.1
        with:
          distribution: "zulu"
          java-version: "11"
          cache: "gradle"

      - name: Build debug APKs
        uses: gradle/gradle-build-action@v2.3.2
        with:
          arguments: assembleDebug
          gradle-home-cache-cleanup: true
      
      - name: Upload debug APKs
        uses: actions/upload-artifact@v3
        with:
          name: Debug APKs
          path: app/build/outputs/apk/debug/*.apk
